/* LOGO */
.vgu-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.vgu-header img {
  width: 150px;
}
.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 16px 40px;
  border-bottom: 1px solid #ddd;
  background: #fff;
  gap: 20px;
}

.header-search {
  width: 100%;
  max-width: 400px;
  padding: 8px 12px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.header-nav {
  display: flex;
  gap: 28px;
  align-items: center;
  font-weight: bold;
}


/* LOGO */
.header-logo {
  display: flex;
  flex-direction: column;
}

.header-logo-main {
  color: #ff7a00;
  font-weight: bold;
  font-size: 28px;
}

.header-logo-sub {
  font-size: 12px;
}


/* NAV LINKS */
.header-link {
  cursor: pointer;
  position: relative;
}

/* UNDERLINE ANIMATION */
.header-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background: #ff7a00;
  transition: width 0.25s ease;
}

.header-link:hover::after {
  width: 100%;
}