.vgu-header {
  position: absolute;
  top: 20px;
  left: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.vgu-header img {
  width: 150px;
}

.vgu-header span {
  font-size: 14px;
  color: #666;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 40px;
  border-bottom: 1px solid #ddd;
  background: #fff;
}

/* LOGO */
.header-logo {
  display: flex;
  flex-direction: column;
}

.header-logo-main {
  color: #ff7a00;
  font-weight: bold;
  font-size: 28px;
}

.header-logo-sub {
  font-size: 12px;
}

/* SEARCH */
.header-search {
  width: 300px;
  padding: 8px 12px;
  border-radius: 20px;
  border: 1px solid #ccc;
  margin-left: 500px;
}

/* NAV */
.header-nav {
  display: flex;
  gap: 28px;
  align-items: center;
  font-weight: bold;
}

/* NAV LINKS */
.header-link {
  cursor: pointer;
  position: relative;
}

/* UNDERLINE ANIMATION */
.header-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background: #ff7a00;
  transition: width 0.25s ease;
}

.header-link:hover::after {
  width: 100%;
}