/* wrapper */
.sidebar-wrapper {
  position: fixed;
  top: 80px;                 /* start below header */
  right: 0;
  width: 350px;
  height: calc(100% - 80px);
  z-index: 1000;             /* lower than header */
}


.sidebar {
  width: 100%;
  height: 100%;
  background: #f58220;
}



/* dark background */
.sidebar-backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.25);
}

/* orange panel */
.sidebar-panel {
  position: absolute;
  right: 0;
  top: 0;
  width: 300px;
  height: 100%;
  background: #f57c00;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  animation: slideIn 0.3s ease;
}

/* slide animation */
@keyframes slideIn {
  from { right: -300px; }
  to { right: 0; }
}

/* top icon */
.sidebar-user-icon {
  width: 40px;
  align-self: flex-end;
}

/* login button */
.login-btn {
  background: black;
  color: white;
  border: none;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 50px;
  font-weight: bold;
}

